*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: crimson;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }