* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    font-family: "roboto", sans-serif;
    background-color: #f8f8ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-x: hidden;
    color: #212121;
}

body.modo-escuro {
    background-color: #212121;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: crimson;
    color: #212121;
    width: 100vw;
    height: 80px;
    box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.705);
}

h1 {
    padding: 10px;
    font-size: 1.5rem;
}

main {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 25px;
 padding-bottom: 25px;
 gap: 35px;
 width: 100%;
}

footer {
 bottom: 0;
 left: 0;
 width: 100%;
 background-color: crimson;
 color: #212121;
 text-align: center;
 height: 50px;
 display: block;
 padding-top: 10px;
 box-shadow: 1px -5px 18px rgba(0, 0, 0, 0.541);
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff9a;
    border-radius: 8px;
    box-shadow: 0 2px 18px rgba(255, 26, 26, 0.658);
    margin: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    margin: 5px;
    padding: 16px;
    text-align: center;
  }

  #mudar-tema {
    background: none;
    border: none;
    cursor: pointer;
    padding: 25px;
  }

  .imagem-botao {
    width: 35px;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #131313;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: crimson;
  }
  
  .btn:active {
    background-color: crimson;
  } 

  @media (max-width: 480px) {
    h1 {
      max-height: 60%;
      max-width: 60%;
    }
  }
